.vs
.vs/*.*
packages
packages/*.*
.vs/RetroFun/v16/Server/sqlite3/db.lock
.vs/RetroFun/v16/Server/sqlite3/storage.ide-wal
.vs/RetroFun/v16/Server/sqlite3/storage.ide-shm
.vs/RetroFun/v16/Server/sqlite3/storage.ide
.vs/RetroFun/v16/.suo
.vs/RetroFun/v16/Server/sqlite3/storage.ide-wal
.vs/RetroFun/v16/Server/sqlite3/storage.ide-shm
.vs/RetroFun/v16/Server/sqlite3/storage.ide
.vs/RetroFun/v16/Server/sqlite3/db.lock
.vs/RetroFun/v16/.suo
RetroFun/bin/RetroFunLogs/*.*
RetroFun/bin/RareControls/*.*
RetroFun/bin/ConvertedSheets/*.*
*.log
*.log
*.txt
*.txt
*.txt
*.txt
packages/ExcelDataReader.3.6.0/*.*
packages/*.*/*.dll
